{% extends "layout.html" %}

{% block body %}


<div class="container p-2">
  <div class="row">
    <h2>Items</h2>	
  </div>
  <div class="row">
    <div class="col-md-5">
      <form action="{{ url_for('items_count') }}">
        <button type="submit">Item amount by user (nonfunc)</button>
      </form>
    </div>
  </div> 
</div>

<table class="table table-striped table-sm">
 <thead>
  <tr>
    {% if general_index is defined %}
     {% for key, value in general_index[0].items()  %}
     <th scope="col">{{ key.capitalize() }}</th>
    {% endfor %}
    <th scope="col"></th>
   {% endif %}
  </tr>
 </thead>
 <tbody>
   {% if general_index is defined %}
     {% for dict_item in general_index  %}
     <tr>
      {% for key, value in dict_item.items() %}
      <td>{{ value }}</td>
     {% endfor %}
      <td>
       <form method="POST" action="{{ url_for('items_delete', item_id=dict_item.id) }}" >
          <input type="submit" value="Delete item"/>
        </form>
      </td>
    </tr>
    {% endfor %}
   {% endif %}
 </tbody>
</table>

{% endblock %}

