{% extends "layout.html" %}

{% block body %}

{% block query %}

<div class="container p-2">
  <div class="row">
    <h2>Items</h2>	
  </div>
  <div class="row">
    <div class="col-md-5">
      <form action="{{ url_for('items_count') }}">
        <button type="submit">Item amount by user (nonfunc)</button>
      </form>
    </div>
  </div> 
</div>

<table class="table table-striped table-sm">
 <thead>
  <tr>
    <th scope="col">Color code</th>
    <th scope="col">Color Name</th>
    <th scope="col">Product type</th>
    <th scope="col">User</th>
    <th scope="col"></th>
  </tr>
 </thead>
 <tbody>
   {% if general_index is defined %}
    {% for dict_item in general_index  %}
    <tr>
      <td>{{ dict_item.colorcode }}</td>
      <td>{{ dict_item.colorname }}</td>
      <td>{{ dict_item.ptype }}</td>
      <td>{{ dict_item.username }}</td>
      <td>
       <form method="POST" action="{{ url_for('items_delete', item_id=dict_item.id) }}" >
          <input type="submit" value="Delete item"/>
        </form>
      </td>
    </tr>
    {% endfor %}
   {% endif %}
 </tbody>
</table>

{% endblock %}

{% endblock %}
