{% extends "layout.html" %}
  
{% block body %}

<div class="container p-2">
 <form method="POST" action="{{ url_for('item_form') }}">
 <h3>Add a new item to my collection</h3>
  <table cellpadding:"5">
    <tr>{{ error }}</tr>
    <tr>
     <td> {{ form.colorcode.label }} </td>
     <td> {{ form.colorcode }} </td>  
    </tr>
    <tr>
     <td> {{ form.ptype.label }} </td>
     <td> {{ form.ptype }} </td>
    </tr>
    <tr>
     <td colspan="2">
      <button type="submit" class="btn btn-primary">Add a new Item</button>
     </td>
    </tr>
   </table>	 
 </form>
</div>

{% endblock %}

