{% extends "layout.html" %}

{% block body %}

<h2>Add to Database</h2>

<div class="container mb-5 mt-4 p-2">
 <form method="POST" action="{{ url_for('cc_ptype_form') }}">
 <h4>Item</h4>
  <table cellpadding:"5">
    <tr>{{ errorItem }}</tr>
    <tr>
     <td> {{ formItem.colorcode.label }} </td>
     <td> {{ formItem.colorcode }} </td>
    </tr>
    <tr>
     <td> {{ formItem.ptype.label }} </td>
     <td> {{ formItem.ptype }} </td>
    </tr>
    <tr>
     <td colspan="2">
      <button type="submit" class="btn btn-primary">Add Item</button>
     </td>
    </tr>
   </table>
 </form>
</div>

<div class="container my-5 p-2">
 <form method="POST" action="{{ url_for('cc_form') }}">
 <h4>Colorcode</h4>
  <table cellpadding="5">
   <tr>{{ errorCc }}</tr>
   <tr>
    <td> {{ formCc.code.label }} </td>
    <td> {{ formCc.code }} </td>
   </tr>
   <tr><td></td>
    <td>
     <ul>
     {% for error in formCc.code.errors %}
      <li>{{ error }}</li>
     {% endfor %}
     </ul>
    </td>
   </tr>
   <tr>
    <td> {{ formCc.name.label }} </td>
    <td> {{ formCc.name }} </td>
   </tr>
   <tr><td></td>
    <td>
     <ul>
     {% for error in formCc.name.errors %}
      <li>{{ error }}</li>
     {% endfor %}
    </ul>
    </td>
   </tr>
   <td colspan="2">
    <button type="submit" class="btn btn-primary">Add Colorcode</button>
   </td>
  </tr>
  </table>
 </form>
</div>

<div class="container mt-5 p-2">
 <form method="POST" action="{{ url_for('ptype_form') }}">
 <h4>Product type</h4>
  <table cellpadding="5">
  <tr>{{ errorPtype }}</tr>
  <tr>
    <td> {{ formPtype.pname.label }} </td>
    <td> {{ formPtype.pname }} </td>
  </tr>
   <tr><td></td>
    <td>
     <ul>
     {% for error in formPtype.pname.errors %}
      <li>{{ error }}</li>
     {% endfor %}
    </ul>
    </td>
   </tr>
  <tr>
   <td colspan="2">
    <button type="submit" class="btn btn-primary">Add Product Type</button>
   </td>
  </tr>
  </table>
 </form>
</div>


{% endblock %}
