{% extends "layout.html" %}

{% block body %}

<div class="container p-2">
  <div class="row">
    <h3>Valid colorcode and product type combinations</h3>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form action="{{ url_for('cc_ptype_index') }}">
        <button type="submit">Clear filter</button>
      </form>
    </div>
    <div class="col-md-4">
      <form action="{{ url_for('cc_only') }}">
        <button type="submit">Show cc only</button>
      </form>
    </div>
    <div class="col-md-4">
      <form action="{{ url_for('ptype_only') }}">
        <button type="submit">Show ptype only</button>
      </form>
    </div>
  </div>
</div>


{% block list %}
<p>List content</p>
{% endblock %}

{% endblock %}

