{% extends "layout.html" %}


{% block body %}

<div class="container p-2">
 <h3>Add a new item to database</h3>
 <form method="POST" action="{{ url_for('cc_ptype_form') }}">
  <table cellpadding="5">
   <tr>{{ error }}</tr>
   <tr>
    <td> {{ form.colorcode.label }} </td>
    <td> {{ form.colorcode }} </td>
    <td>
   </td>
   </tr>  
   <tr>
     <td> {{ form.name.label }} </td>
     <td> {{ form.name }} </td>
   </tr>
   <tr>
     <td> {{ form.ptype.label }} </td>
     <td> {{ form.ptype }} </td>
     <td>
   </td>
   </tr>
     
   <tr>
     <td colspan="2">
       <input type="submit" value="Submit"/>
     </td>
   </tr>
  </table>
 </form>
</div>

{% endblock %}
